h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 17pt;
  color: rgb(70, 71, 99);
  text-transform: uppercase;
}

.screen-wrapper {
  background-color: #585769;
  border-radius: 10px 10px 50px 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem 1.5rem 1rem;
  box-shadow: inset -1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.screen-display {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 15%;
}

.light-bulb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6f0202;
  box-shadow: inset 1px 1px 0px 1px rgba(0, 0, 0, 0.25);

  &.on {
    background-color: #f05858;
    box-shadow: 0px 0px 6px 2px rgba(240, 143, 143, 0.25);
  }
}

.light-label {
  font-size: 7pt;
  text-transform: uppercase;
  margin-top: 0.25rem;
}

.screen {
  width: 100%;
  max-width: 195px;
  aspect-ratio: 1 / 1;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background: url("../../assets/bg1_beach.png") repeat-x, #527f39;
  background-position-y: bottom;
  filter: blur(0.75px);
}

.screen-decoration {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.decoration {
  border-top: 3px solid rgb(68, 47, 62);
  border-bottom: 3px solid rgb(65, 55, 79);
  height: 8px;

  &:first-child {
    width: 30%;
  }

  &:last-child {
    width: 14%;
  }
}
