.buddyvision {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.interface {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.feeling-panel {
  display: flex;
  width: 100%;
  justify-content: end;

  img {
    width: 20px;
    aspect-ratio: 1 / 1;
    opacity: 0.25;

    &.sad {
      opacity: 1;
    }
  }
}

.happiness-score {
  display: flex;
  height: 12px;
}

.unit.sad {
  background-color: #242424;
  width: 4px;
  height: 4px;
  margin: 3px 5px;
}

.unit.happy {
  background: url("../../assets/happy-unit.svg") no-repeat;
  width: 12px;
  height: 12px;
  margin: 0 1px;
}

.interface-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  gap: 0.5rem;
}
