.instructions {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-align: left;
  padding: 0.75rem 1rem;
  font-size: 14px;
  border: 6px double rgb(70, 71, 99);
  width: 360px;
  height: 140px;

  > legend {
    font-weight: 700;
    font-size: 16pt;
    padding: 0 1rem;
    line-height: 1;
  }

  > p {
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

kbd {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
