.key-labels {
  margin-top: 1rem;
  font-size: 9pt;
  color: rgb(70, 71, 99);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  width: 100%;

  span {
    width: -webkit-fill-available;
    text-align: center;
  }
}

.piano {
  display: flex;
  width: 100%;
  gap: 0.25rem;
  background-color: rgb(188, 202, 179);
  padding: 0.5rem;
  text-transform: uppercase;
  color: #d2ddcd;
  border-radius: 10px;
  box-shadow: inset -2px -1px 5px 2px rgba(0, 0, 0, 0.035);
}

.piano-key {
  border-radius: 0 0 4px 4px;
  border: none;
  width: 1.25rem;
  height: 4rem;
  background-color: #edf2ea;
  cursor: pointer;
}

.piano-key.active {
  outline: 4px auto #646cff;
  background-color: #646cff;
}
